Repository huggingface/optimum, pull requests merged in 2025-04, with the labels that each got.

#2213 Remove FP16_Optimizer patch for DeepSpeed
  optimum/onnxruntime/trainer.py
Labels: onnxruntime-training

#1396 TRT engine docs
  docs/source/onnxruntime/usage_guides/gpu.mdx
Labels: Stale

#2214 Add onnx export for efficientnet
  optimum/exporters/onnx/model_configs.py
  optimum/exporters/tasks.py
  tests/exporters/utils.py
  tests/onnxruntime/test_modeling.py
  tests/onnxruntime/testing_utils.py
Labels: onnxruntime-gpu, onnxruntime-slow
